@media (max-width:1200px) {
    html{
        font-size: 55%;
    }
}

@media (max-width:991px) {
    section {
        padding: 0 3%;
        padding-top: 7.5rem;
    }
}

@media (max-width:768px) {
    header nav {
        display:none;
    }
    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(./img/menu.png);
        background-size:30px;
        background-position:center;
        background-repeat:no-repeat;
        filter:invert(1); 
        z-index:11;

    }

    .toggle.active {
        position:fixed;
        right:20px;
        background:url(./img/close.png);
        background-size:25px;
        background-position:center;
        background-repeat:no-repeat;
    }

    nav.navbar.active {
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction:column;
        background:#fff;
        z-index:10;

    }
    .navbar a {
        display: inline-block;
        color: #000;
        font-weight: 500;
        margin-left: 40px;
        text-decoration: none;
        font-size: 2em;
        margin: 5px 0;
    }
    .home{
        flex-flow: column-reverse;
    }
    .image img {
        width: 300px;
    }
    .content h3{
        font-size: 3.6rem;
    }
    .content p{
        font-size: 1.5rem;
    }
    .card{
        width: 95%;
    }
    .title {
        font-size: 35px;
    }
    .circle-1  {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        margin-top: -150px;
     
      }
      .circle-2 {
        width: 20px;
        height: 20px;
        margin-top: -150px;
        margin-left: -155px;
      }
      .circle-3 {
        width: 20px;
        height: 20px;
        margin-top:-125px ;
        margin-left: -84px;
      }
    .contact__button .span-1 ,.span-2 ,.span-3  {
        color: var(--orange);
        font-size: 50px;
        position: absolute;
        
      
      }
      .span-1 i {
        margin-left: 180px;
        margin-top: 15px;
        transform: rotate(30deg);
        opacity: 50%;
      }
      .span-2 i {
        margin-top: 70px;
        margin-left: 205px;
        transform: rotate(40deg);
        opacity: 50%;
     }
      .span-3 i {
        margin-top: 140px ;
        margin-left: 200px;
        transform: rotate(50deg);
        opacity: 50%;
    
  } 
}
@media (max-width:450px) {
    html {
        font-size: 50%;
    }
    
}