


:root {
    --orange:#f14910;
    --pink:#fd425f;
    --shadow:2px 2px 5px #bebebe,
    -2px -2px 5px #ffffff;
    --gradient:linear-gradient(90deg, var(--orange), var(--pink));
}


* {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
}
*::selection {
    background: var(--pink);
    color: #fff;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: #f9f9f9;
}
section {
    min-height: 100vh;
    padding: 0 9%;
    padding-top: 7.5rem;
}
.btn {
    margin: 28px 0 0 0;
    width: 240px;
    border: 0;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    text-align: center;
    color: #ffffff;
    padding: 12px 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.7rem;
    font-size: 2rem;
    border-radius: 10px;
    transition: all .3s linear;
}

.btn:hover{
    transform: scale(1.1);
    background-color:var(--pink);
    cursor: pointer;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 5px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo img{
    width: 80px;
}
.navbar a {
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--orange);
}
.navbar a:hover {
    color:var(--pink);
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img {
    width: 35vw;
    animation: float 3s linear infinite;
}
@keyframes float {
    0%, 100%{
        transform: translatey(0rem);
    }
    50%{
        transform: translatey(-3.5rem);
    }
}
.content h3 {
    font-size: 5.5rem;
    font-weight: 700;
    color:#000;
    text-transform: uppercase;
}
.content h3 span {
    color: var(--orange);
    text-transform: uppercase;
}
.content p {
    font-size: 1.7rem;
    font-weight: 500;
    color:var(--orange);
    padding: 1rem 0;
}
.circle-1 , .circle-2 , .circle-3 {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: black;
    border-radius: 50%;
}

.circle-1 {
     margin-left: 350px;
}
.circle-2 {
    margin-top: 130px;
    margin-left: 100px;
   
}
.circle-3 {
    margin-top: -400px ;
    margin-left: 300px;
}
.background {
    background-color: #f2f2f2;
    
}


.main--conteiner{
    width: 100%;
    
    margin:auto;
    overflow: hidden;
    background: #f2f2f2;
    
   
}

.background-title{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}

.title {
    font-size: 3rem;
}

.contenedor--cars{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
    
}
.icon {
    width: 130px;
    height: 130px;
    align-items: center;
    background-color: var(--orange);
    border-radius: 50%;
}


.card{
   width: 29%;
   background: #ffffff;
   margin-bottom: 30px;
   border-radius: 15px;
   padding: 45px 30px 60px 30px;
   transition: 0.5s;
}
.card:hover{
   box-shadow: 0 4px 10px rgba(22, 25, 31, 0.26);
}
.card i{
   font-size: 30px;
   color: #ffffff;
   background: var(--orange);
   display: inline-block;
   width: 70px;
   height: 70px;
   text-align: center;
   padding-top: 20px;
   border-radius: 50%;
   box-shadow: 0 8px 32px rgba(223, 139, 61, 0.46);
}
.card p{
   font-weight: 100;
   color: var(--orange);
   margin-top: 15px;
   padding-bottom: 20px;
}
.card a{
   color: #000000;
   font-weight:400;
   text-decoration: none;
}
.card a:hover{
   color: var(--orange);
   transition: color .5s;
}
.container--contact  {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.contact-img {
    width: 700px;
}
.contact-img img {
    width: 100%;
    margin-top: 58px;
  
}
.contact__button {
    width: 300px;
    
   
}
.contact__button h2 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
}



.contact__button .span-1 ,.span-2 ,.span-3  {
    color: black;
    font-size: 50px;
    position: absolute;
    
  
}
.span-1 i {
    margin-left: 180px;
    margin-top: 15px;
    transform: rotate(90deg);
    
}
.span-2 i {
    margin-left: 100px;
    margin-top: 15px;
    transform: rotate(90deg);
    
}
.span-3 i {
    margin-left: 20px;
    margin-top: 15px;
    transform: rotate(90deg);
    
 }
.form-group {
    align-items: center;
    justify-content: center;
}
  
.form-control {
    width: 255px;
    height: 30px;
    border: 0;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #fdf0eb;
    box-shadow: var(--shadow);
}
.form-control-mjs {
    width: 255px;
    height: 150px;
    border: 0;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fdf0eb;
    box-shadow: var(--shadow);
}
::placeholder {
    text-align: center;
  }
.background-bot {
    background-color: var(--orage);
}